@model GrupoBLEficiente.Models.Attendance

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borrar</h1>

<h3>¿Esta seguro de Borrar este Registro?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Absences)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Absences)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vacations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vacations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayPeriodStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayPeriodStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayPeriodEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayPeriodEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.commissions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.commissions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnCallHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnCallHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employees.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAttendance" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la Lista de Registros</a>
    </form>
</div>
