@model GrupoBLEficiente.Models.Employees

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles del Empleado</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt> *@
@*         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccruedVacations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccruedVacations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlySalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlySalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEmployee">Editar</a> |
    <a asp-action="Index">Regresar a la Lista de Empleados </a>
</div>
