@model GrupoBLEficiente.Models.Employees

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class ="card-header">
<h3>Editar Empleado</h3>
    </div>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmployee" />
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.Name)</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.LastName)</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.IdType)</label>
                <input asp-for="IdType" class="form-control" />
                <span asp-validation-for="IdType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.NationalId)</label>
                <input asp-for="NationalId" class="form-control" />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.Email)</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.Phone)</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.Address)</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.BirthDate)</label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.HireDate)</label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.MonthlyGrossSalary)</label>
                <input asp-for="MonthlyGrossSalary" class="form-control" />
                <span asp-validation-for="MonthlyGrossSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.IdJobTitle)</label>
                <input asp-for="IdJobTitle" class="form-control" />
                <span asp-validation-for="IdJobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.Status)</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

